@import './base.css';
/* BOTONES */
.btn-normal {
  display: inline-block;
  font-weight: 600;
  line-height: 1.4;
  color: #a1b0cb;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.469rem 0.8rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  /*font sans serif*/
  --bs-font-sans-serif: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--bs-font-sans-serif);
}

.btn-small {
  display: inline-block;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.2rem 0.8rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  /*font size*/
  font-size: 0.8rem;
  /*font sans serif*/
  --bs-font-sans-serif: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--bs-font-sans-serif);
}

.rounded-pill {
  border-radius: 50rem !important;
}

.btn-primary,
.btn-primary-toggle {
  color: #fff;
  background-color: #5a8dee;
  border-color: #5a8dee;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.btn-check:focus + .btn-primary-toggle,
.btn-primary-toggle:focus,
.btn-primary-toggle.focus {
  color: rgb(228, 228, 228);
  background-color: #4a5d80c7;
  border-color: #466eb9;
  box-shadow: none;
}

.btn-check:checked + .btn-primary-toggle,
.btn-check:active + .btn-primary-toggle,
.btn-primary-toggle:active,
.btn-primary-toggle.active,
.show > .btn-primary-toggle.dropdown-toggle {
  color: rgb(228, 228, 228);
  background-color: #4a5d80c7;
  border-color: #466eb9;
}

.btn-primary:hover,
.btn-primary-toggle:hover {
  color: #fff;
  background-color: #5f96fc;
  border-color: #5a8dee;
  box-shadow: 0 0.25rem 1rem #5a8eee59;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #4d78ca;
  border-color: #4d78ca;
  box-shadow: none;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4d78ca;
  border-color: #4d78ca;
}

.btn-secondary {
  color: #fff;
  background-color: #69809a;
  border-color: #69809a;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #8799ae;
  border-color: #8799ae;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 25%);
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #fff;
  background-color: #596d83;
  border-color: #596d83;
  box-shadow: none;
}

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #596d83;
  border-color: #596d83;
}

.btn-success {
  color: #fff;
  background-color: #39da8a;
  border-color: #39da8a;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.btn-check:focus + .btn-success,
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #30b975;
  border-color: #30b975;
  box-shadow: none;
}

.btn-success:hover {
  color: #fff;
  background-color: #61e1a1;
  border-color: #61e1a1;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 25%);
}

.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #30b975;
  border-color: #30b975;
}

.btn-danger {
  color: #fff;
  background-color: #ff5b5c;
  border-color: #ff5b5c;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff7c7d;
  border-color: #ff7c7d;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 25%);
}

.btn-check:focus + .btn-danger,
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #d94d4e;
  border-color: #d94d4e;
  box-shadow: none;
}

.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d94d4e;
  border-color: #d94d4e;
}

.btn-warning {
  color: #fff;
  background-color: #fdac41;
  border-color: #fdac41;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.btn-warning:hover {
  color: #fff;
  background-color: #fdbd67;
  border-color: #fdbd67;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-check:focus + .btn-warning,
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #d79237;
  border-color: #d79237;
  box-shadow: none;
}

.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #d79237;
  border-color: #d79237;
}

.btn-info {
  color: #fff;
  background-color: #00cfdd;
  border-color: #00cfdd;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-info:hover {
  color: #fff;
  background-color: #33d9e4;
  border-color: #33d9e4;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-check:focus + .btn-info,
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #00b0bc;
  border-color: #00b0bc;
  box-shadow: none;
}

.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #00b0bc;
  border-color: #00b0bc;
}

.btn-dark {
  color: #fff;
  background-color: #717784;
  border-color: #717784;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-dark:hover {
  color: #fff;
  background-color: #8d929d;
  border-color: #8d929d;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #606570;
  border-color: #606570;
  box-shadow: none;
}

.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #606570;
  border-color: #606570;
}

.btn-label-primary {
  color: #5a8dee;
  border-color: transparent;
  background: #5a8eee3b;
}

.btn-label-primary:hover {
  border-color: transparent;
  background: #5a8dee;
  color: #fff;
}

.btn-label-primary:focus,
.btn-label-primary.focus {
  color: #fff;
  background: #4d78ca;
  box-shadow: none !important;
}

.btn-label-secondary {
  color: #69809a;
  background: #69809a3b;
  border-color: transparent;
}

.btn-label-secondary:hover {
  border-color: transparent;
  background: #69809a;
  color: #fff;
}

.btn-label-secondary:focus,
.btn-label-secondary.focus {
  color: #fff;
  background: #596d83;
  box-shadow: none !important;
}

.btn-label-success {
  color: #39da8a;
  border-color: transparent;
  background: #39da8a3b;
}

.btn-label-success:hover {
  border-color: transparent;
  background: #39da8a;
  color: #fff;
}

.btn-label-success:focus,
.btn-label-success.focus {
  color: #fff;
  background: #30b975;
  box-shadow: none !important;
}

.btn-label-danger {
  color: #ff5b5c;
  border-color: transparent;
  background: #ff5b5c3b;
}

.btn-label-danger:hover {
  border-color: transparent;
  background: #ff5b5c;
  color: #fff;
}

.btn-label-danger:focus,
.btn-label-danger.focus {
  color: #fff;
  background: #d94d4e;
  box-shadow: none !important;
}

.btn-label-warning {
  color: #fdac41;
  border-color: transparent;
  background: #fdac413b;
}

.btn-label-warning:hover {
  border-color: transparent;
  background: #fdac41;
  color: #fff;
}

.btn-label-warning:focus,
.btn-label-warning.focus {
  color: #fff;
  background: #d79237;
  box-shadow: none !important;
}

.btn-label-info {
  color: #00cfdd;
  border-color: transparent;
  background: #00cfdd3b;
}

.btn-label-info:hover {
  border-color: transparent;
  background: #00cfdd;
  color: #fff;
}

.btn-label-info:focus,
.btn-label-info.focus {
  color: #fff;
  background: #00b0bc;
  box-shadow: none !important;
}

.btn-label-dark {
  color: #717784;
  border-color: transparent;
  background: #7177843b;
}

.btn-label-dark:hover {
  border-color: transparent;
  background: #717784;
  color: #fff;
}

.btn-label-dark:focus,
.btn-label-dark.focus {
  color: #fff;
  background: #606570;
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #5a8dee;
  border-color: #5a8dee;
  background: transparent;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5a8dee;
  border-color: #5a8dee;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #4d78ca;
  border-color: #4d78ca;
  box-shadow: none;
}

.btn-outline-secondary {
  color: #69809a;
  border-color: #69809a;
  background: transparent;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #69809a;
  border-color: #69809a;
}

.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
  color: #fff;
  background-color: #596d83;
  border-color: #596d83;
  box-shadow: none;
}

.btn-outline-success {
  color: #39da8a;
  border-color: #39da8a;
  background: transparent;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #39da8a;
  border-color: #39da8a;
}

.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
  color: #fff;
  background-color: #30b975;
  border-color: #30b975;
  box-shadow: none;
}

.btn-outline-danger {
  color: #ff5b5c;
  border-color: #ff5b5c;
  background: transparent;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff5b5c;
  border-color: #ff5b5c;
}

.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
  color: #fff;
  background-color: #d94d4e;
  border-color: #d94d4e;
  box-shadow: none;
}

.btn-outline-warning {
  color: #fdac41;
  border-color: #fdac41;
  background: transparent;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #fdac41;
  border-color: #fdac41;
}

.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
  color: #fff;
  background-color: #d79237;
  border-color: #d79237;
  box-shadow: none;
}

.btn-outline-info {
  color: #00cfdd;
  border-color: #00cfdd;
  background: transparent;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #00cfdd;
  border-color: #00cfdd;
}

.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus {
  color: #fff;
  background-color: #00b0bc;
  border-color: #00b0bc;
  box-shadow: none;
}

.btn-outline-dark {
  color: #717784;
  border-color: #717784;
  background: transparent;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #717784;
  border-color: #717784;
}

.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus {
  color: #fff;
  background-color: #606570;
  border-color: #606570;
  box-shadow: none;
}

.btn-outline-black {
  color: #09090a;
  border-color: #09090a;
  background: transparent;
}

.btn-outline-black:hover {
  color: #fff;
  background-color: #09090a;
  border-color: #09090a;
}

.btn-check:focus + .btn-outline-black,
.btn-outline-black:focus {
  color: #fff;
  background-color: #09090a;
  border-color: #09090a;
  box-shadow: none;
}

/*------------------------------
      Button Group
------------------------------*/

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: -1px;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

/*------------------------------
      Background Colors
------------------------------*/
body.dark {
  background: #1c222f;
  color: #d8deea;
}

body.light {
  background: #eeeeee;
  color: #000;
}

.card-light {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d4d8dd;
  border-radius: 0.3125rem;
  background-clip: padding-box;
  box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
}

/*OTROS*/
.alert-danger {
  background-color: #4a3848;
  border-color: #693e4b;
  color: #ff5b5c;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 0 solid transparent;
  border-radius: 0.25rem;
}

.round-green {
  background-color: #2b4c4f;
  color: #39da8a;
  border-radius: 30px;
}

.round-blue {
  background-color: #30405f;
  color: #5a8dee;
  border-radius: 30px;
}

.round-yellow {
  background-color: #4a4544;
  color: #fdac41;
  border-radius: 30px;
}

.fg-custom {
  background-color: #283144;
  color: #000;
  border-radius: 15px;
}

.fg-custom-light {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}

.fg-custom-light-1 {
  background-color: #fff;
  border-radius: 0 15px 15px 15px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #dee2e6;
}

.fg-custom-1 {
  background-color: #283144;
  color: #d8deea;
  border-radius: 0 15px 15px 15px;
}

.fg-lighter {
  background-color: #3b4864;
  color: #d8deea;
  border-radius: 15px;
}

.bg-custom {
  background-color: #1b212e;
  color: #d8deea;
}

.input-custom {
  background-color: #252d3f;
  color: #a1b0cb;
  border-color: #a1b0cb;
  border: line;
}

.input-custom2 {
  background-color: #2d374d;
  color: #aebedd;
  border-color: #a1b0cb;
  border: line;
}

.input-custom2:focus {
  background-color: #303b52;
  color: #aebedd;
  border-color: #a1b0cb;
  border: line;
  box-shadow: 0 0 0.5rem #5a88ec;
}

.input-custom:disabled {
  background-color: #333a4b;
  color: #a1b0cb;
  border-color: #198754;
  border: line;
}

.input-custom:focus {
  background-color: #283144;
  color: #d8deea;
  border-color: #a1b0cb;
  border: line;
  box-shadow: 0 0 0.7rem #375391;
}

.table-custom-title {
  background-color: #283144;
  color: #ffffff;
}

.table-custom-footer {
  background-color: #283144;
  color: #ffffff;
  border-bottom: none;
}

.table-custom-title2 {
  background-color: #3b4864;
  color: #ffffff;
}

.table-custom-body {
  background-color: #283144;
  color: #a1b0cb;
}

tbody.table-custom-footer tr th {
  background-color: #283144;
  color: #a1b0cb;
  border-bottom: none;
}

.table-custom-body th {
  background-color: #283144;
  color: #cbd5e7;
}

/*NAVBAR*/

.form-inline {
  display: inline-block;
}

.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  padding-right: 50px;
  font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
  font-size: 20px;
  margin-right: 5px;
}

.search-box {
  position: relative;
}

.search-box input {
  box-shadow: none;
  padding-right: 35px;
  border-radius: 3px !important;
}

.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.navbar ul li i {
  font-size: 18px;
}

.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}

.navbar .dropdown.open > a {
  background: none !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}

.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:active {
  color: #333;
}

.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}

.navbar .badge {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}

.navbar ul.nav li a.notifications,
.navbar ul.nav li a.messages {
  position: relative;
  margin-right: 10px;
}

.navbar ul.nav li a.messages {
  margin-right: 20px;
}

.navbar a.notifications .badge {
  margin-left: -8px;
}

.navbar a.messages .badge {
  margin-left: -4px;
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  background: transparent !important;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .form-inline {
    display: block;
    margin-bottom: 10px;
  }

  .input-group {
    width: 100%;
  }
}

span.input-group-text i {
  font-size: 1.2rem;
  line-height: 0.6rem;
}

th {
  border-top: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  border-right: 1px solid #dddddd !important;
}

th:first-child {
  border-left: 1px solid #dddddd !important;
}

.navbar-nav .nav-link:hover {
  color: rgb(49, 49, 49) !important;
  text-shadow: 0 0 0.1rem #00000054;
  animation: bounceUp 0.5s;
  /*animation shake*/
}

li .nav-link {
  color: #8d8d8d !important;
}

li .nav-link:hover:not(.active) {
  color: #424242 !important;
  text-shadow: 0 0 0.1rem #b8b8b8;
}

li .nav-link.active {
  color: rgb(66, 66, 66) !important;
}

.user-action {
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-2px);
  }

  66% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes tumble {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(1deg);
  }

  66% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

div.card-transparent {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.587);
  background-clip: border-box;
  border: 0 solid #d4d8dd;
  border-radius: 1rem;
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(1px);
  transition: all 1s linear;
  color: rgb(0, 0, 0);
}

div.bg-glass {
  position: relative;
  flex-direction: column;
  min-width: 0;
  background-color: rgba(255, 255, 255, 0.587);
  background-clip: border-box;
  border: 0 solid #d4d8dd;
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.781);
  color: rgb(0, 0, 0);
  transition: all 1s linear;
}

.bg-img {
  position: absolute;
  z-index: -100;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../utils/rrhh.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: -76px -20px;
  background-attachment: fixed;
  transition: all 0.3s linear;
  background-color: #a0d1f9;
}

body.background-img {
  background-image: url(../utils/rrhh.jpg);
  background-position: center -20px;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed while the background image is loading */
  background-color: #a0d1f9;
}

body.background-img-blurred {
  background-image: url(../utils/bg-blur.png);
  background-position: center -20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d1f9;
}

button.dt-button.buttons-columnVisibility.active {
  /*shadow inside*/
  box-shadow: inset 0 0 5px rgb(0, 0, 0) !important;
  background: #ebebeb !important;
}

button.editProfilePicture {
  position: relative;
  height: 35px;
  width: 35px;
  top: 50px;
  left: -50px;
  background: rgb(68, 68, 68);
  border: 1px solid #0000004d;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

input.input-gray {
  background-color: #fafafa;
}

td.dtr-control::before {
  background-color: #5a8dee !important;
}

/* LOADING */
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  z-index: 99;
}

.boxes {
  --size: 100px;
  --duration: 600ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #5c8df6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

#loading {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
}

#loading .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

#loading .dribbble img {
  display: block;
  height: 28px;
}

div.dropdown-menu, .dropdown-menu {
  margin: 0px !important;
}